* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 235);
    font-family: 'Karla', sans-serif;
}
a {
    text-decoration: unset;
    color: unset;
}
header {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body {
    position: relative;
}
.header-link-home {
    font-size: clamp(1.3rem, 2.5vw, 3rem);
    color: black;
    font-weight: bold;
}
nav > .header-links {
    display: inline-block;
    margin-right: .7rem;
    font-size: .875rem;
    color: #4D4D4D;
    transition: all .2s ease;
}
nav > .header-links:hover, 
nav > .header-links:focus {
    font-weight: bold;
    transform: scale(1.15);
}
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding-block: 1rem;
    margin-bottom: -137px;
}
.footer-heading {
    margin-top: 2rem;
}
.copyright-text {
    margin-top: 1.5rem;
    padding-bottom: .4rem;
}
.home-container {
    background-image: url(./images/home-intro-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem .5rem;
}
.home-container > h1 {
    margin: 0 auto;
    width: 90%;
    font-size: clamp(1.7rem, 3vw, 3.7rem)
}
.home-container > p {
    margin: 1.2rem auto;
    width: 90%;
    font-size: .875rem;
    line-height: 1.5;
}
.home-container > .home-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(80, 80, 226);
    border-radius: .5rem;
    background-color: rgb(80, 80, 226);
    padding-block: .5rem;
    text-align: center;
}
.home-descrip-container {
    margin-block: 50px;
}
.home-descrip-image {
    display: block;
    width: 80%;
    margin: 1rem auto
}
.descrip-page-content > p, 
.descrip-page-content > h1 {
    width: 95%;
    margin: 1rem auto;
    padding-inline: 1rem;
}
.descrip-page-content > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.descrip-page-content > p {
    line-height: 1.2;
}
.descrip-page-cta {
    margin: 1rem;
    background-color: rgb(137, 137, 241);
    border: 1px solid rgb(137, 137, 241);
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}
.descrip-page-cta > h2 {
    font-size: 1.3rem;
}
.descrip-link-button {
    display: block;
    width: 6.8rem;
    background-color: #292727;
    color: white;
    padding: .5rem .6rem;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    border-radius: .6rem;
    font-size: .875rem;
    text-align: center;
}
.about-hero-image {
    width: 100%;
}
.about-num-container {
    background-color: white;
    padding: 2.5rem .7rem 1.5rem;
}
.about-num {
    text-align: center;
}
.about-num:not(:last-child) {
    margin-bottom: 4rem;
}
.about-num-image {
    width: 120px;
}
.about-num > h1, 
.about-num > p {
    width: 95%;
    margin: 1rem auto;
    padding-inline: .5rem;
}
.about-num > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.about-num > p {
    font-size: .9rem;
    line-height: 1.4;
}
.about-page-cta {
    padding: 1.5rem 1.3rem;
}
.link-button {
    display: block;
    width: 8.8rem;
    border-radius: .4rem;
    background-color: rgb(80, 80, 226);
    color: white;
    padding: .5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.not-found-container {
    padding: 0 1rem;
    margin-top: 4rem;
}
.not-found-container > h1 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
}
.not-found-btn {
    display: block;
    margin: 1.5rem auto;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}
.form-container{
    text-align: center;
    margin-top: 1rem;
}
.form-container > h1 {
    margin-top: 2rem;
    margin-bottom: -.2rem;
    font-size: clamp(1.65rem, 2.5vw, 3rem);
}
.form {
    padding: 2rem 1rem;
    text-align: center;
}
.form > input {
    width: 17rem;
    margin: .2rem auto;
    padding: .5rem .5rem;
    border: none;
}
.form > button {
    cursor: pointer;
    display: block;
    margin: 1.5rem auto;
    width: 17rem;
    padding: .5rem 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(80, 80, 226);
    color: white;
    font-family: 'Karla', sans-serif;
}
.login-paragraph {
    margin-top: -1.4rem;
    margin-bottom: 10.3rem;
    font-size: .875rem;
}
.login-paragraph > span {
    color: rgb(37, 37, 197);
    cursor: pointer;
}
.laptop-navbar {
    display: none;
}
.hamburger {
    width: 22px;
}
.sidebar {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: -180px;
    z-index: 1;
    width: 180px;
    height: 100vh;
    padding: .5rem;
    transition: all 0.3s ease;
}
.header-links-sidebar {
    display: block;
    margin-right: .7rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #4D4D4D;
    transition: all .2s ease;
}
.sidebar > nav {
    padding-left: 1rem;
    margin-top: 2rem;
}
.ham-btn {
    background-color: transparent;
    outline: none;
    border: none;
}
.mini-about{
    padding-inline: 1rem;
    margin-bottom: 2rem;
}
.mini-about > h2 {
    font-size: clamp(1.4rem, 2.5vw, 3rem);
    margin-bottom: 2.5rem;
}
.car-list-container {
    padding-inline: 1rem;
    margin-bottom: 2rem;
}
.car-list-filter-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.car-list-filter-btns > button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: .4rem .7rem;
    border-radius: .3rem;
    background-color: rgb(213, 213, 236);
    transition: all 0.3s ease;
}
.car-filters
.car-list-filter-btns > a {
    margin-right: .9rem;
}
.car-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.car-tile-img {
    width: 100%;
    border-radius: .5rem;
}
.car-list-filter-btns > .clear-filters {
    border-radius: none;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}
.car-list-filter-btns > .simple:hover {
    background-color: rgb(98, 98, 192);
    color: white;
} 
.car-list-filter-btns > .rugged:hover {
    background-color: #115E59;
    color: white;
} 
.car-list-filter-btns > .luxury:hover {
    background-color: #161616;
    color: white;
}
.car-info > h3 {
    font-size: 1rem;
}
.car-info > p {
    font-size: 0.9rem;
}
.car-tile > a > .car-type {
    text-align: center;    
    border-radius: .3rem;
    padding: .3rem 1rem;
    color: white;
}
.car-tile > a > .simple {
    border: 1px solid rgb(98, 98, 192);
    background-color: rgb(98, 98, 192);
} 
.car-tile > a > .rugged {
    border: 1px solid #115E59;
    background-color: #115E59;
} 
.car-tile > a > .luxury {
    border: 1px solid #161616;
    background-color: #161616;
}
.car-detail-container {
    padding: 1rem;
}
.car-detail {
    margin-block: 2rem;
    margin-bottom: 4rem;
}
.car-detail > img {
    width: 90%;
    border-radius: .4rem;
}
.car-detail > .car-type {
    display: block;
    width: 40%;
    text-align: center;    
    border-radius: .3rem;
    padding: .3rem 1rem;
    color: white;
    margin-top: .5rem;
}
.car-detail > .simple {
    border: 1px solid rgb(98, 98, 192);
    background-color: rgb(98, 98, 192);
}
.car-detail > .rugged {
    border: 1px solid #115E59;
    background-color: #115E59;
}
.car-detail > .luxury {
    border: 1px solid #161616;
    background-color: #161616;
}
.car-detail > .link-button {
    border: none;
    outline: none;
    display: block;
    width: 80%;
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(80, 80, 226);
    margin: 1.2rem auto;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}
.host-link-container {
    padding-left: .5rem;
}
.host-links {
    font-size: .9rem;
    transition: all .3s ease;
}
.host-links:hover, .host-links:focus {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
} 
.host-links:not(:last-child) {
    margin-right: .5rem;
}
.host-car-container {
    padding: .5rem;
    margin-bottom: 5rem;
}
.host-car-single {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: white;
    margin-bottom: 1rem;
    padding-block: .7rem;
    padding-left: 1rem;
    border-radius: .3rem;
}
.host-car-single > img {
    width: 30%;
    height: 60px;
    border-radius: .3rem;
}
.host-car-detail-layout-container {
    background-color: white;
    padding: 1rem;
    margin: 1.7rem .5rem;
    border-radius: .2rem;
}  
.host-car-detail {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
}
.host-car-detail > img {
    width: 50%;
    border-radius: .2rem;
}
.host-car-detail-info-text > .car-type {
    text-align: center;
    padding: .3rem .8rem;
    background-color: rgb(166, 166, 216);
    border-radius: .2rem;
}
.host-car-detail-info-text > h2, 
.host-car-detail-info-text > p {
    font-size: 1.3rem;
    font-weight: bold;
}
.host-car-detail-info-text > p {
    margin-top: -1rem;
}
.host-car-detail-nav > a {
    transition: all .3s ease;
}
.host-car-detail-nav > a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}
.host-car-detail-nav > a:not(:last-child) {
    margin-right: 1rem;
}
.host-car-detail-info > h4 {
    font-size: .9rem;
    font-weight: 500;
}
.host-car-photos {
    display: block;
    margin-top: 1rem;
    width: 70%;
    border-radius: .2rem;
}
.host-car-pricing > span {
    font-size: 1rem;
    font-weight: 400;
}
.host-car-detail-outlet-container {
    margin-top: 1rem;
    margin-bottom: 6rem;
}
.host-car-detail-outlet-container > a {
    margin-left: .5rem;
}
.warning {
    color: red;
}