* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 235);
    font-family: 'Karla', sans-serif;
}
a {
    text-decoration: unset;
    color: unset;
}
header {
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body {
    position: relative;
}
.header-link-home {
    font-size: clamp(1.3rem, 2.5vw, 3rem);
    color: black;
    font-weight: bold;
}
nav > .header-links {
    display: inline-block;
    margin-right: .7rem;
    font-size: .875rem;
    color: #4D4D4D;
    transition: all .2s ease;
}
nav > .header-links:hover, 
nav > .header-links:focus {
    font-weight: bold;
    transform: scale(1.15);
}
footer {
    background-color: #252525;
    color: white;
    text-align: center;
    padding-block: 1rem;
    margin-bottom: -137px;
}
.footer-heading {
    margin-top: 2rem;
}
.copyright-text {
    margin-top: 1.5rem;
    padding-bottom: .4rem;
}
.home-container {
    background-image: url(./images/home-intro-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem .5rem;
}
.home-container > h1 {
    margin: 0 auto;
    width: 90%;
    font-size: clamp(1.7rem, 3vw, 3.7rem)
}
.home-container > p {
    margin: 1.2rem auto;
    width: 90%;
    font-size: .875rem;
    line-height: 1.5;
}
.home-container > .home-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(80, 80, 226);
    border-radius: .5rem;
    background-color: rgb(80, 80, 226);
    padding-block: .5rem;
    text-align: center;
}
.home-descrip-container {
    margin-block: 50px;
}
.home-descrip-image {
    display: block;
    width: 80%;
    margin: 1rem auto
}
.descrip-page-content > p, 
.descrip-page-content > h1 {
    width: 95%;
    margin: 1rem auto;
    padding-inline: 1rem;
}
.descrip-page-content > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.descrip-page-content > p {
    line-height: 1.2;
}
.descrip-page-cta {
    margin: 1rem;
    background-color: rgb(137, 137, 241);
    border: 1px solid rgb(137, 137, 241);
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}
.descrip-page-cta > h2 {
    font-size: 1.3rem;
}
.descrip-link-button {
    display: block;
    width: 6.8rem;
    background-color: #292727;
    color: white;
    padding: .5rem .6rem;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    border-radius: .6rem;
    font-size: .875rem;
    text-align: center;
}
.about-hero-image {
    width: 100%;
}
.about-num-container {
    background-color: white;
    padding: 1.5rem .7rem;
}
.about-num {
    text-align: center;
}
.about-num:not(:last-child) {
    margin-bottom: 4rem;
}
.about-num-image {
    width: 120px;
}
.about-num > h1, 
.about-num > p {
    width: 95%;
    margin: 1rem auto;
    padding-inline: .5rem;
}
.about-num > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.about-num > p {
    font-size: .9rem;
    line-height: 1.4;
}
.about-page-cta {
    padding: 1.5rem 1.3rem;
}
.link-button {
    display: block;
    width: 8.8rem;
    border-radius: .4rem;
    background-color: rgb(80, 80, 226);
    color: white;
    padding: .5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.not-found-container {
    padding: 0 1rem;
    margin-top: 4rem;
}
.not-found-container > h1 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
}
.not-found-btn {
    display: block;
    margin: 1.5rem auto;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}
.form-container{
    text-align: center;
    margin-top: 1rem;
}
.form-container > h1 {
    margin-top: 2rem;
    margin-bottom: -.2rem;
    font-size: clamp(1.65rem, 2.5vw, 3rem);
}
.form {
    padding: 2rem 1rem;
    text-align: center;
}
.form > input {
    width: 17rem;
    margin: .1rem auto;
    padding: .4rem .5rem;
    border: none;
}
.form > button {
    cursor: pointer;
    display: block;
    margin: 1.5rem auto;
    width: 17rem;
    padding: .4rem 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(80, 80, 226);
    color: white;
    font-family: 'Karla', sans-serif;
}
.login-paragraph {
    margin-top: -1.4rem;
    margin-bottom: 10.3rem;
    font-size: .875rem;
}
.login-paragraph > span {
    color: rgb(37, 37, 197);
    cursor: pointer;
}
.laptop-navbar {
    display: none;
}
.hamburger {
    width: 22px;
}
.sidebar {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: -180px;
    z-index: 1;
    width: 180px;
    height: 100vh;
    padding: .5rem;
    transition: all 0.3s ease;
}
.header-links-sidebar {
    display: block;
    margin-right: .7rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #4D4D4D;
    transition: all .2s ease;
}
.sidebar > nav {
    padding-left: 1rem;
    margin-top: 2rem;
}
.ham-btn {
    background-color: transparent;
    outline: none;
    border: none;
}
.mini-about{
    padding-inline: 1rem;
    margin-bottom: 2rem;
}
.mini-about > h2 {
    font-size: clamp(1.4rem, 2.5vw, 3rem);
    margin-bottom: 2.5rem;
}