* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 235);
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: unset;
    color: unset;
}
header {
    width: 100%;
    height: 4.6rem;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body {
    position: relative;
}
.header-link-home {
    font-size: clamp(1.3rem, 2.5vw, 3rem);
    color: black;
    font-weight: bold;
}
.footer-container {
    background-color: #252525;
    color: white;
    margin-bottom: -137px;
    padding-block: 1rem;
}
footer {
    color: white;
    text-align: center;
    padding-block: 1rem;
}
.footer-heading {
    margin-top: 2rem;
}
.copyright-text {
    margin-top: -0.5rem;
    padding-bottom: .4rem;
    text-align: center;
    color: white;
}
.home-container {
    min-height: 15rem;
    background-image: url(./images/home-intro-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2rem .5rem;
}
.home-container > h1 {
    margin: 0 auto;
    width: 90%;
    font-size: clamp(1.7rem, 3vw, 3.7rem)
}
.home-container > p {
    margin: 1.2rem auto;
    width: 90%;
    font-size: .875rem;
    line-height: 1.5;
}
.home-container > .home-btn {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(80, 80, 226);
    border-radius: .5rem;
    background-color: rgb(80, 80, 226);
    padding-block: .5rem;
    text-align: center;
}
.home-descrip-container {
    margin-block: 50px;
}
.home-descrip-image {
    display: block;
    width: 80%;
    margin: 1rem auto
}
.descrip-page-content {
    padding-bottom: 2rem;
}
.descrip-page-content > p, 
.descrip-page-content-home > p, 
.descrip-page-content-home > h1,  
.descrip-page-content > h1 {
    width: 95%;
    margin: 1rem auto;
    padding-inline: 1rem;
}
.descrip-page-content > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
.descrip-page-content > p {
    line-height: 1.2;
}
.descrip-page-cta {
    margin: 1rem;
    background-color: rgb(137, 137, 241);
    border: 1px solid rgb(137, 137, 241);
    border-radius: .5rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}
.descrip-page-cta > h2 {
    font-size: 1.3rem;
    font-weight: 600;
}
.descrip-link-button {
    display: block;
    width: 6.8rem;
    background-color: #292727;
    color: white;
    padding: .5rem .6rem;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    border-radius: .6rem;
    font-size: .875rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.about-hero-image {
    width: 100%;
}
.about-num-container {
    background-color: white;
    padding: 2.5rem .7rem 1.5rem;
}
.about-num, .about-num-home {
    text-align: center;
}
.about-num:not(:last-child) {
    margin-bottom: 4rem;
}
.about-num-image, .about-num-image-home {
    width: 120px;
}
.about-num > h1, 
.about-num > p, 
.about-num-home > h1, 
.about-num-home > p {
    width: 95%;
    margin: 1rem auto;
    padding-inline: .5rem;
}
.about-num > h1, .about-num-home > h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-weight: 600;
}
.about-num > p, .about-num-home > p {
    font-size: .9rem;
    line-height: 1.4;
}
.about-page-cta {
    padding: 1.5rem 1.3rem;
}
.link-button {
    display: block;
    width: 10.8rem;
    border-radius: .4rem;
    background-color: rgb(80, 80, 226);
    color: white;
    padding: .5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.not-found-container {
    padding: 0 1rem;
    margin-top: 4rem;
}
.not-found-container > h1 {
    font-size: clamp(1.7rem, 2.5vw, 3rem);
}
.not-found-btn {
    display: block;
    margin: 1.5rem auto;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}
.form-container{
    text-align: center;
    margin-top: 1rem;
}
.form-container > h1 {
    margin-top: 2rem;
    margin-bottom: -.2rem;
    font-size: clamp(1.45rem, 2.5vw, 3rem);
}
.form {
    padding: 2rem 1rem;
}
.form > input {
    width: 90%;
    margin: .2rem auto;
    padding: .6rem .5rem;
    border: none;
}
.form > p {
    text-align: left;
    font-size: 0.875rem;
    color: black;
    margin-top: -3px;
    margin-left: 10%;
}
.form > button {
    cursor: pointer;
    display: block;
    margin: 1.5rem auto;
    width: 90%;
    padding: .5rem 0;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(80, 80, 226);
    color: white;
    font-family: 'Karla', sans-serif;
}
.login-paragraph {
    margin-top: -1.4rem;
    margin-bottom: 10.3rem;
    font-size: .875rem;
}
.login-paragraph > span {
    color: rgb(37, 37, 197);
    cursor: pointer;
}
.laptop-navbar {
    display: none;
}
.hamburger {
    width: 22px;
}
.sidebar {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: -180px;
    z-index: 1;
    width: 180px;
    height: 100%;
    padding: .5rem;
    background-image: url(../src/images/sidebar-wave-light.svg);
    background-position: 46% -60%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}
.sidebar-header {
    display: block;
    font-weight: bolder;
    margin-top: 1.3rem;
    font-size: 1.35rem;
    border-bottom: 2px solid #1b2f50;
    padding-bottom: .5rem;
}
.header-links-sidebar {
    width: 120%;
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding: 3px 2px;
    font-size: 1rem;
    color: #4D4D4D;
    transition: all .2s ease;
}
.header-links-sidebar:hover, .header-links-sidebar:focus {
    background-color: rgb(137, 137, 241);
    padding-left: 10px;
}
.sidebar > nav {
    padding-left: 0;
    margin-top: 3rem;
    overflow: hidden;
}
.ham-btn {
    background-color: transparent;
    outline: none;
    border: none;
}
.mini-about{
    padding-inline: 1rem;
    margin-bottom: 2rem;
}
.mini-about-head {
    font-size: clamp(1.4rem, 2.5vw, 3rem);
    margin-bottom: 2.5rem;
    text-align: center;
    padding-inline: .5rem;
}
.car-list-container {
    padding-inline: 1rem;
    margin-bottom: 2rem;
}
.car-list-filter-btns {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.car-list-filter-btns > button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: .4rem .7rem;
    border-radius: .3rem;
    background-color: rgb(213, 213, 236);
    transition: all 0.3s ease;
}
.car-filters
.car-list-filter-btns > a {
    margin-right: .9rem;
}
.car-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}
.car-tile-img {
    width: 95%;
    height: 5.6rem;
    border-radius: .3rem;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.65);

}
@media (min-width: 430px) {
    .car-tile-img {
        height: 6rem;
    }
}
@media (min-width: 530px) {
    .car-tile-img {
        height: 7.5rem;
    }
}
@media (min-width: 630px) {
    .car-tile-img {
        height: 9.5rem;
    }
}
@media (min-width: 730px) {
    .car-tile-img {
        height: 11.5rem;
    }
}
@media (min-width: 850px) {
    .car-tile-img {
        width: 100%;
        height: 13.75rem;
    }
}
@media (min-width: 930px) {
    .car-tile-img {
        width: 100%;
        height: 17.75rem;
    }
}
.car-list-filter-btns > .clear-filters {
    border-radius: none;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}
.car-list-filter-btns > .simple:hover {
    background-color: rgb(98, 98, 192);
    color: white;
} 
.car-list-filter-btns > .rugged:hover {
    background-color: #115E59;
    color: white;
} 
.car-list-filter-btns > .luxury:hover {
    background-color: #161616;
    color: white;
}
.car-info > h3 {
    font-size: 1rem;
}
.car-info > p {
    font-size: 0.9rem;
}
.car-tile > a > .car-type {
    text-align: center;    
    border-radius: .3rem;
    padding: .3rem 1rem;
    color: white;
}
.car-tile > a > .simple {
    border: 1px solid rgb(98, 98, 192);
    background-color: rgb(98, 98, 192);
} 
.car-tile > a > .rugged {
    border: 1px solid #115E59;
    background-color: #115E59;
} 
.car-tile > a > .luxury {
    border: 1px solid #161616;
    background-color: #161616;
}
.car-detail-container {
    padding: 1rem;
}
.car-detail {
    margin-block: 2rem;
    margin-bottom: 4rem;
}
.car-detail > img {
    width: 70%;
    border-radius: .4rem;
}
.car-detail > .car-type {
    display: block;
    width: 30%;
    text-align: center;    
    border-radius: .3rem;
    padding: .3rem 1rem;
    color: white;
    margin-top: .5rem;
}
.car-detail > .simple {
    border: 1px solid rgb(98, 98, 192);
    background-color: rgb(98, 98, 192);
}
.car-detail > .rugged {
    border: 1px solid #115E59;
    background-color: #115E59;
}
.car-detail > .luxury {
    border: 1px solid #161616;
    background-color: #161616;
}
.car-detail > .link-button {
    border: none;
    outline: none;
    display: block;
    width: 70%;
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: rgb(80, 80, 226);
    margin: 1.2rem auto;
    font-family: "Karla", sans-serif;
    font-size: 1rem;
}
.host-link-container {
    padding-left: 1rem;
    margin-block: 1rem;
}
.host-links {
    font-size: .9rem;
    transition: all .3s ease;
}
.host-links:hover, .host-links:focus {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
} 
.host-links:not(:last-child) {
    margin-right: .7rem;
}
.host-car-container {
    padding: .5rem;
    margin-bottom: 5rem;
}
.host-car-single {
    display: flex;
    align-items: center;
    gap: .7rem;
    background-color: white;
    margin-bottom: 1rem;
    padding-block: .7rem;
    padding-left: 1rem;
    border-radius: .3rem;
}
.host-car-single > img {
    width: 6rem;
    height: 60px;
    border-radius: .3rem;
}
.host-car-detail-layout-container {
    background-color: white;
    padding: 1rem;
    margin: 1.7rem .5rem;
    border-radius: .2rem;
}  
.host-car-detail {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
}
.host-car-detail > img {
    width: 50%;
    border-radius: .2rem;
}
.host-car-detail-info-text > .car-type {
    text-align: center;
    padding: .3rem .8rem;
    background-color: rgb(166, 166, 216);
    border-radius: .35rem;
}
.host-car-detail-info-text > h2, 
.host-car-detail-info-text > p {
    font-size: 1.3rem;
    font-weight: bold;
}
.host-car-detail-info-text > p > span {
    font-size: 1rem;
    font-weight: 300;
}
.host-car-detail-info-text > p {
    margin-top: -1rem;
}
.host-car-detail-nav > a {
    transition: all .3s ease;
}
.host-car-detail-nav > a:hover, 
.host-car-detail-nav > a:focus {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(80, 80, 226);
}
.host-car-detail-nav > a:not(:last-child) {
    margin-right: 1rem;
}
.host-car-detail-info > h4 {
    font-size: .9rem;
    font-weight: 500;
}
.host-car-photos {
    display: block;
    margin-top: 1rem;
    width: 70%;
    border-radius: .2rem;
}
.host-car-pricing > span {
    font-size: 1rem;
    font-weight: 400;
}
.host-car-detail-outlet-container {
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.host-car-detail-outlet-container > a {
    display: block;
    margin-left: .5rem;
    margin-bottom: 2rem;
}
.warning {
    color: red;
}
.loading-state {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10rem;
}
.host-reviews > h3 {
    margin-bottom: 2rem;
    padding-inline: .7rem;
}
.graph {
    padding-inline: .7rem;
    width: 80%;
}
.review-dp {
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
    width: 10rem;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.65);
}
.five-star-container {
    text-align: center;
}
.five-star {
    display: inline-block;
    margin: .3rem 0;
    text-align: center;
}
.info {
    display: flex;
    align-items: baseline;
    gap: .6rem;
}
.date {
    font-size: .9rem;
    color: #8C8C8C;
}
.review {
    margin-top: -1rem;
}
.review > p {
    margin-top: .5rem;
}
.review-cont {
    padding-inline: .7rem;
    padding-block: 2rem;
    padding-top: 3rem;
    background-color: white;
}
.top-text {
    display: flex;
    align-items: baseline;
    gap: .8rem;
    padding-inline: .7rem;
}
.top-text > p {
    color: #524f4f;
    font-size: .9rem;
    text-decoration: underline;
}
.hori {
    color: #8C8C8C;
    height: 1px;
    opacity: .5;
}
.host-income {
    padding-inline: .5rem;
}
.info-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.info-header > p {
    font-size: .93rem;
    color: #8C8C8C;
    text-decoration: underline;
}
.transaction-container {
    margin-block: 1.5rem;
    margin-bottom: 4rem;
}
.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .7rem .5rem;
    margin-bottom: 1rem;
}
.amount-income {
    font-size: 1.35rem;
    font-weight: bolder;
}
.amount-income > span {
    display: block;
    font-size: .875rem;
    font-weight: bold;
    color: #8C8C8C;
}
.transaction > p {
    color: rgb(59, 58, 58);
    font-size: .9rem;
}
.host-dashboard-earnings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.2rem;
    background-color: rgb(204, 204, 243);
    padding: .8rem .7rem;
}
.info-dashboard > p {
    color: #524f4f;
    font-size: .9rem;
    cursor: pointer;
}
.info-dashboard > p > span {
    text-decoration: underline;
}
.host-dashboard-earnings > a {
    font-size: .9rem;
}
.info-dashboard > h2 {
    font-weight: 600;
}
.dashboard-amount {
    font-size: 1.9rem;
    font-weight: bolder;
}
.review-score-text {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}
.review-score-text > p {
    font-size: .9rem;
}
.review-score-text > p > span {
    font-weight: bold;
}
.host-dashboard-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background-color: rgb(185, 185, 241);
}
.host-dashboard-reviews > a {
    font-size: .9rem;
}
.top-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: .5rem;
    margin-top: 1.2rem;
}
.top-dashboard > a {
    font-size: .9rem;
}
.application {
    display: none;
}
.logout-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(201, 65, 65);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
@media (min-width: 850px) {
    .ham-btn {
        display: none;
    }
    .header-link-home {
        font-size: 1.5rem;
    }
    .laptop-navbar {
        display: block;
    }
    nav > .header-links {
        display: inline-block;
        margin-right: 2.2rem;
        font-size: 1rem;
        color: #4D4D4D;
        transition: all .2s ease;
    }
    nav > .header-links:hover, 
    nav > .header-links:focus {
        font-weight: bold;
        transform: scale(1.15);
        color: rgb(80, 80, 226);
    }
    .home-container {
        height: 50vh;
    }
    .home-container > h1 {
        margin: 2.5rem 0 0 1rem;
        width: 80%;
        font-size: 2.5rem
    }
    .home-container > p {
        margin: 1rem 0 1rem 1rem;
        width: 60%;
        font-size: 1rem;
        line-height: 1.5;
    }
    .home-container > .home-btn {
        display: block;
        width: 70%;
        margin: 0 auto;
        border: 1px solid rgb(80, 80, 226);
        border-radius: .5rem;
        background-color: rgb(80, 80, 226);
        padding-block: .7rem;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
    }
    .mini-about {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .mini-about-head {
        width: 80%;
        font-size: 2.5rem;
        text-transform: capitalize;
        margin: 3rem auto;
    }
    .descrip-page-content-home > p, 
    .descrip-page-content-home > h1 {
        width: 100%;
        margin: 1rem 0;
        padding-left: 1rem;
    }
    .home-descrip-image {
        width: 75%;
    }
    .descrip-page-content > h1 {
        font-size: 2.3rem;
    }
    .descrip-page-content > p {
        line-height: 1.2;
    }
    .home-descrip-container, .descrip-page-content-home {
        margin-bottom: 2.5rem;
    }
    .application {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: white;
        padding: 2.5rem .5rem 3rem 0.5rem;
    }
    .blue-car-app{
        width: 55%;
    }
    .app-text {
        padding-left: .7rem;
        width: 95%;
    }
    .app-text > h1 {
        font-size: 2rem;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
    }
    .app-text > p {
        font-size: .95rem;
        color: #524f4f;
        margin-bottom: 1.3rem;
        line-height: 1.3;
    }
    .img-flex {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .img-flex > img{
        width: 25%;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding-inline: .7rem;
        text-align: left;
    }
    .host-links:not(:last-child) {
        margin-right: 2.5rem;
    }
    .car-info > h3 {
        font-size: 1.5rem;
    }
    .car-info > p {
        margin-top: -1rem;
        font-size: 1.1rem;
    }
    .car-list-filter-btns > button {
        margin-right: 3rem;
        padding: .5rem 1.1rem;
        font-size: .9rem;
        font-family: 'Poppins', sans-serif;
    }
    .car-list-container > h1 {
        padding-left: 1.2rem;
    }
    .car-list-filter-btns {
        padding-left: 1.2rem;
    }
    .car-detail > img {
        width: 60%;
    }
    .car-detail > .link-button {
        cursor: pointer;
        width: 60%;
        padding: .9rem 0;
    }
    .host-car-detail {
        gap: 2.5rem;
    }
    .host-car-detail-info-text > h2 {
        font-size: 1.6rem;
    }
    .host-car-detail-info-text > .car-type {
        padding: .3rem 1.3rem;
    }
    .host-car-detail-outlet-container > a {
        margin-left: .8rem;
    }
    .host-car-detail-nav {
        margin-block: 1.6rem;
    }
    .about-num-container {
        background-image: url(../src/images/blob.svg), url(../src/images/blob2.svg), url(../src/images/blob.svg), url(../src/images/blob2.svg);
        background-position: 80% 2%, -3% 40%, 60% 60%, 20% 100%;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 30%, 30%, 20%, 40%;
    }
    .about-hero-image {
        height: 55vh;
    }
    .about-num > p {
        width: 60%;
    }
    .form-container > h1 {
        font-size: 1.8rem;
    }
    .form > input {
        width: 80%;
        padding: 1.1rem 0.5rem;
        border-radius: .3rem;
    }
    .form > button {
        width: 80%;
        padding: 1rem .1rem;
    }
}